{% extends "base.html" %}

{% block login %}

  {% if form.errors %}
    <p class="error">Not a valid username or password.</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <br>
    <label for="username">username: </label>
    <input type="text" name="username" value="" id="username">
    <br>
    <label for="password">password: </label>
    <input type="password" name="password" value="" id="password">
    <br>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}
