{% extends 'base.html' %}


{% block cluster_health %} {% comment %} {{ cluster_health }} {% endcomment %}

{% if cluster_health.status == "OK" %}
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-check"></span>
    <strong>OK!</strong> Overall, your cluster is functioning normally.
  </div>
{% else %}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>{{ cluster_health.status }}!</strong> There appears to be a problem with your cluster.
  </div>
{% endif %}

{% if cluster_health.output.overall_status == "HEALTH_OK" %}
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-check"></span>
    <strong>OK!</strong> No minor issues reported.
  </div>
{% else %}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>{{ cluster_health.output.overall_status }}! There appears to be a minor issue with your cluster.</strong>
      {% for error in cluster_health.output.detail %}
        <br><br>
        <ul>{{ error }}</ul>
        <br>
      {% endfor %}
  </div>
{% endif %}


<script>
// used and free KB
$(document).ready(function(){
  var disk_avail = {{ disk_free.output.stats.total_avail }} / 1024;
  var disk_used = {{ disk_free.output.stats.total_used }} / 1024;
  var small_avail = disk_avail.toFixed(2);
  var small_used = disk_used.toFixed(2);
  
  var data = [
    ['MB Available: ' +  small_avail, disk_avail],
    ['MB Used: ' +  small_used, disk_used]
  ];
  var plot1 = jQuery.jqplot ('chart1', [data],
    {
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      },
      legend: { show:true, location: 'e' }
    }
  );
});
</script>

{% endblock %}
