{% extends 'base.html' %}

{% block pg_status_title %}<h1>Placement Group Status</h1>{% endblock %}

{% block pg_status %}

{{ pg_status.status }}

<table border="1">
<tr>
<td>Number of unfound objects</td>
<td>Number of objects missing on primary</td>
<td>Number of writes</td>
<td>Number of object clones</td>
<td>Number of objects</td>
<td>Number of object copies</td>
<td>Number of deep scrub errors</td>
<td>Number of shallow scrub errors</td>
<td>Number of bytes recovered</td>
<td>Number of scrub errors</td>
<td>Number of degraded objects</td>
<td>Number of recovered objects</td>
</tr>
<tr>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_objects_unfound }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_objects_missing_on_primary }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_write }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_object_clones }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_objects }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_object_copies }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_deep_scrub_errors }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_shallow_scrub_errors }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_bytes_recovered }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_scrub_errors }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_objects_degraded }}</td>
<td>{{ pg_status.output.pg_stats_sum.stat_sum.num_objects_recovered }}</td>
</tr>
</table>








{% endblock %}
