{% extends 'base.html' %}

{% block osd_pools %}

<p>
{% if osd_pools.status == "OK" %}
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-check"></span>
    <strong>{{ osd_pools.status }}!</strong> All pools appear to be functioning normally.
  </div>
{% else %}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>{{ osd_pools.status }}!</strong> There appears to be a problem with your pools.
  </div>
{% endif %}
</p>

{% for pool in osd_pools.output %}
  <a href="{{ pool.poolname }}">
    <button type="button" class="btn btn-lg btn-info">
      {{ pool.poolname }}
    </button>
  </a>
{% endfor %}

{% endblock %}
