{% extends 'base.html' %}

{% block pools %}

<p>
{% if pools.status == "OK" %}
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-check"></span>
    <strong>{{ pools.status }}!</strong> All pools appear to be functioning normally.
  </div>
{% else %}
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>{{ pools.status }}!</strong> There appears to be a problem with your pools.
  </div>
{% endif %}
</p>

{% for pools in pools.output %}
  <a href="{{ pools.poolname }}">
    <button type="button" class="btn btn-lg btn-info">
      {{ pools.poolname }}
    </button>
  </a>
{% endfor %}

{% endblock %}
